{%extends "layout.html"%}


{%block content%}
<div class="container pt-4 p-3">
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Numero</th>
            <th scope="col">Cedula</th>
            <th scope="col">Empresa</th>
            <th scope="col">Hora Inicio</th>
            <th scope="col">Prestado Por</th>

          </tr>
        </thead>
        <tbody>
          <tr>
              {% for prestamo in prestamos %}
            <td>{{ prestamo.nombre_prestamo }}</td>
            <td>{{ prestamo.tipo }}</td>
            <td>{{ prestamo.numero }}</td>
            <td>{{ prestamo.cedula }}</td>
            <td>{{ prestamo.empresa }}</td>
            <td>{{ prestamo.hora_inicio }}</td>
            <td>{{ prestamo.usuario }}</td>

              <td><button type="button" class="btn btn-success">Devolucion</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</div>
</div>
{%endblock%}